<%- include('headers/html-header', {}); -%> <%- include('nav/navbar', { session:
session }); -%>
<div class="container-fluid d-flex align-items-stretch pt-5">
  <div class="row align-items-stretch w-100 pt-3">
    <div class="col-12">
      <% if (notes.length > 0) { %>
      <div class="row mb-3">
        <div class="col-6">
        </div>
        <div class="col-6">
          <label for="sortBy">Sort by:</label>
          <select id="sortBy" class="form-select" aria-label="Default select example">
            <option <% if (sortBy.param === "") { %>selected<% } %> value="created_time_latest">Created Time: Latest First</option>
            <option <% if (sortBy.param === "created_time_oldest") { %>selected<% } %> value="created_time_oldest">Created Time: Oldest First</option>
            <option <% if (sortBy.param === "species_asc") { %>selected<% } %> value="species_asc">Species: Alphabetically</option>
            <option <% if (sortBy.param === "species_desc") { %>selected<% } %> value="species_desc">Species: Reverse Alphabetically</option>
            <option <% if (sortBy.param === "email_asc") { %>selected<% } %> value="email_asc">Author Email: Alphabetically</option>
            <option <% if (sortBy.param === "email_desc") { %>selected<% } %> value="email_desc">Author Email: Reverse Alphabetically</option>
          </select>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Created Time</th>
            <th scope="col">Species</th>
            <th scope="col">Author Email</th>
          </tr>
        </thead>
        <tbody>
          <% notes.forEach((note, idx) => { %>
          <tr>
            <th scope="row"><%= idx + 1 %></th>
            <td><a href="/note/<%= note.id %>"><%= note.createdDateTime %></a></td>
            <td>
              <a href="/note/<%= note.id %>"><%= note.name %> (<%= note.scientific_name %>)</a>
            </td>
            <td><a href="/users/<%= note.created_user_id %>"><%= note.email %></a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
       <p>There are no notes. Please begin to add some!</p>
      <% } %>
      </ul>
    </div>
  </div>
</div>

<%- include('footers/html-footer'); -%>
