<%- include('headers/html-header', {}); -%><%- include('nav/navbar', {}); -%>
<div class="container-fluid d-flex align-items-stretch pt-5">
  <div class="row align-items-stretch w-100 pt-3">
    <div class="col-12 py-3">
      <form 
        <% if (type.name==="new") { %>
        action='/note'
        <% } else { %>
        action='/note/<%= note.id %>/edit?_method=PUT'
        <% } %>
        method='POST'
      >
        <div class="row">
          <div class="col-12">
            <h4 class="mb-3 index-header">Date & Time of Observation</h4>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="dateSpotted">
              <strong>Date</strong>
            </label>
            <input
              type="date"
              class="form-control"
              id="dateSpotted"
              name="date"
              value="<%= note.date %>"
            />
            <div class="invalid-feedback">Some invalid feedback</div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="timeSpotted">
              <strong>Time</strong>
            </label>
            <input
              type="time"
              class="form-control"
              id="timeSpotted"
              name="time"
              value="<%= note.time %>"
            />
            <div class="invalid-feedback">Some invalid feedback</div>
          </div>
          <div class="col-12">
            <h4 class="mb-3 index-header">Duration of Observation</h4>
          </div>
          <div class="col-4 mb-3">
            <label for="durationHourSpotted">
              <strong>Hours</strong>
            </label>
            <input
              type="number"
              class="form-control"
              id="durationHourSpotted"
              name="duration_hour"
              value="<%= note.duration_hour %>"
              max="23"
            />
            <div class="invalid-feedback">Some invalid feedback</div>
          </div>
          <div class="col-4 mb-3">
            <label for="durationMinuteSpotted">
              <strong>Minutes</strong>
            </label>
            <input
              type="number"
              class="form-control"
              id="durationMinuteSpotted"
              name="duration_minute"
              value="<%= note.duration_minute %>"
              max="59"
            />
            <div class="invalid-feedback">Some invalid feedback</div>
          </div>
          <div class="col-4 mb-3">
            <label for="durationSecondSpotted">
              <strong>Seconds</strong>
            </label>
            <input
              type="number"
              class="form-control"
              id="durationSecondSpotted"
              name="duration_second"
              value="<%= note.duration_second %>"
              max="59"
            />
            <div class="invalid-feedback">Some invalid feedback</div>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <div class="col-12 mb-3">
            <h4 class="mb-3 index-header">Behaviours</h4>
            <label class="index-header2" for="behaviour">
              <strong>Tell us the behaviour of the birds!</strong>
            </label>
            <textarea
              class="form-control"
              id="behaviour"
              name="behaviour"
              rows="5"
              placeholder="Take notes on what the bird was doing as you observed it. Note general actions and specific reactions to changing conditions, such as the appearance of a predator or how the bird interacts with other birds. Note large actions such as preening, flight patterns, and foraging habits as well as small movements such as tail bobs, head cocks or wing stretches."
            >
<%= note.behaviour %></textarea
            >
            <div class="invalid-feedback">Some invalid feedback</div>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <div class="col-12">
            <h4 class="mb-3 index-header">Flock Size</h4>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="index-header2" for="numberOfBirds">
              <strong>Estimated number of birds in the flock</strong>
            </label>
            <input
              type="number"
              class="form-control"
              id="numberOfBirds"
              name="number_of_birds"
              value="<%= note.number_of_birds %>"
            />
            <div class="invalid-feedback">Some invalid feedback</div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="index-header2" for="flockType">
              <strong>
                Same species or mixed flock?
              </strong>
            </label>
            <select
              name="flock_type"
              class="form-select"
              aria-label="Default select example"
              id="flockType"
            >
              <option <% if (!note.flock_type || note.flock_type === "same_species") { %>selected<% } %> value="same_species">Same Species</option>
              <option <% if (note.flock_type && note.flock_type === "mixed_flock") { %>selected<% } %> value="mixed_flock">Mixed Flock</option>
            </select>
            <div class="invalid-feedback">Some invalid feedback</div>
          </div>
          <div class="col-12 mb-3">
            <label for="speciesId">
              <strong>
                Main Species Spotted:
              </strong>
            </label>
            <select
              name="species_id"
              class="form-select"
              aria-label="Default select example"
              id="speciesId"
            >
              <% species.speciesList.forEach((specie, idx) => { %>
                <option <% if ((idx === 0 && species.currentSpecies === 0) || species.currentSpecies === specie.id) { %>selected<% } %> value="<%= specie.id %>"><%= specie.name %> (<%= specie.scientific_name %>)</option>
              <% }); %>
            </select>
            <div class="invalid-feedback">Some invalid feedback</div>
          </div>
        </div>
        <hr class="mb-4" />
        <button class="btn btn-primary btn-lg btn-block" type="submit">
          Submit Note
        </button>
      </form>
    </div>
  </div>
</div>

<%- include('footers/html-footer'); -%>
