<%- include('headers/html-header', {}); -%><%- include('nav/navbar', {}); -%>
<div class="container-fluid d-flex align-items-stretch pt-5">
  <div class="row align-items-stretch w-100 pt-3">
    <div class="col-12 py-3">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md-6"></div>
        <div class="col-12 col-md-6 text-center text-md-end">
          <a class="btn btn-primary" href="/note/<%= note.id %>/edit">Edit</a>
          <form
            class="d-inline-block"
            action="/note/<%= note.id %>/delete?_method=DELETE"
            method="POST"
          >
            <input class="btn btn-danger" type="submit" value="Delete" />
          </form>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3 index-header">Date & Time of Observation</h4>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p>
            <strong>Date</strong>
          </p>
          <p><%= note.date %></p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p>
            <strong>Time</strong>
          </p>
          <p><%= note.time %></p>
        </div>
        <div class="col-12">
          <h4 class="mb-3 index-header">Duration of Observation</h4>
        </div>
        <div class="col-4 mb-3">
          <p>
            <strong>Hours</strong>
          </p>
          <p><%= note.duration_hour %></p>
        </div>
        <div class="col-4 mb-3">
          <p>
            <strong>Minutes</strong>
          </p>
          <p><%= note.duration_minute %></p>
        </div>
        <div class="col-4 mb-3">
          <p>
            <strong>Seconds</strong>
          </p>
          <p><%= note.duration_second %></p>
        </div>
      </div>
      <hr class="mb-3" />
      <% if (note.behaviours.length > 0) { %>
      <div class="row">
        <div class="col-12 mb-3">
          <h4 class="mb-3 index-header">Behaviours</h4>
          <p>
            <strong>Tell us the behaviour of the birds!</strong>
          </p>
          <p>
            <% note.behaviours.forEach((behaviour, idx) => { %><% if (idx <
            note.behaviours.length - 1) { %><%= behaviour %>, <% } else { %><%=
            behaviour %><% } %><% }); %>
          </p>
        </div>
      </div>
      <hr class="mb-3" />
      <% } %>
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3 index-header">Flock Size</h4>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p>
            <strong>Estimated number of birds in the flock</strong>
          </p>
          <p><%= note.number_of_birds %></p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p>
            <strong>Same species or mixed flock?</strong>
          </p>
          <p>
            <% if (note.flock_type === "same_species") { %> Same Species <% }
            else { %> Mixed Flock <% } %>
          </p>
        </div>
        <div class="col-12 mb-3">
          <p>
            <strong> Main Species Spotted: </strong>
          </p>
          <p>
            <%= note.name %>
            <em>(<%= note.scientific_name %>)</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('footers/html-footer'); -%>
